/* section {
    background-color: lightgray;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
} */

.EditToDoList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.EditToDoListSection {
    padding-top: 1em;
    margin: 1em;
    width: fit-content;
    border-color: #f7c892;
    border-width: 1px;
    border-style: solid;
    width: 21em;
}

.EditToDoList h1 {
    margin-bottom:0;
    margin-top:1em;
    line-height: 1em;
    font-size: 25px;
}
.EditToDoListSection h2 {
    /* margin-left: 1em;
    margin-right: 1em; */
    margin-top: 0em;
    margin-bottom: 0em;
    line-height: 1em;
    font-size: 20px;
}

.EditToDoListSection h3 {
    margin-top: 0em;
    margin-bottom: 0em;
    font-weight: 500;
}