.Home {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
  }

  .Home h3 {
    padding: 0;
    margin: 0;
  }

  .Home h4 {
    padding: 0;
    margin: 0;
    font-weight: 600;
  }

  .Home header {
    margin-top: 0em;
    margin-bottom: 10px;
  }

.ToDoListSection {
  padding-top: 0;
  display: flex;
  /* background-color: #f3f3f3; */
  border-color: #f7c892;
  border-width: 1px;
  border-style: solid;
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  /* padding-top: 1em; */
  width: 21em;
}

.defaultTask {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #f7c892;
  width: 100%;
}