.InfoPage {
    flex: 1;
}

.InfoPage a {
    color: rgb(114, 114, 114)
}

.InfoPage h3 {
    margin: 0;
}

.InfoPage h1 {
    margin: 0;
    letter-spacing: 8px;
    font-weight: 900;
    margin: 0;
    font-size: 1.5em;
}

.InfoPage li {
    list-style: none;
    margin: 0;
    line-height: 1.5em;
}


.InfoPage ul {
    padding: 0;
    margin: 0;
}