.EditCalendar input {
    width: 3em;
}

.editButton {
    padding: .5em;
}

.durationLabel {
    font-weight: 600;
}

.grayDate {
    background-color: lightslategray;
    color: black;
}

.redDate {
    background-color: lightsalmon;
    color: black;

}

.blueDate {
    background-color: lightskyblue;
    color: black;

}

.greenDate {
    background-color: lightseagreen;
    color: black;
}