.EditList {
    margin-bottom: 1em;
    width: 100%;
}

.EditList button {
    background: transparent;
    border: none;
    user-select: none;
    width: fit-content;
    padding: 0;
    background-color: transparent;
    color: #e94a3d;
}

.EditList ul {
    padding: 0;
    margin: 0;
    border-top-style: solid;
    border-top-color:  #f7c892;
    border-top-width: 1px;
    padding-top: 3px;
    margin-bottom: 2em;
}
.EditList li {
    list-style:none;
    margin-bottom: 3px;
    padding-bottom: 6px;
    border-bottom-color:  #f7c892;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    display: flex;
    justify-content: center;
    color: rgb(114, 114, 114);
}
